# Pockets
*.csv
items*.json

#Maven
target/
pom.xml.*
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath
.apt_generated_tests

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

*.suo
*.ntvs*
*.njsproj
*.sln

# Node / WebUI
.quinoa
node_modules
dist
dist-ssr
*.local
*.ts.timestamp*
*.log*
sources
toolsIndex.json
